<section id="perguntas-frequentes" class="mb-5">

  <div class="container">
    <h2 class="display-4 text-center">Perguntas Frequentes</h2>
    <div class="nb-separator"></div>

    @for (sec of faq; track sec) {
      <div class="row mt-4">
        <div class="col">
          <h2 [innerText]="sec.title"></h2>
          <ul class="list-group list-group-flush">
            @for (item of sec.content; track item) {
              <li class="list-group-item list-group-item-action">
                @if (item.show) {
                  <a class="faq-toggle" (click)="item.show = false">
                    <i class="fa fa-minus-square"></i>
                  </a>
                }
                @if (!item.show) {
                  <a class="faq-toggle" (click)="item.show = true">
                    <i class="fa fa-plus-square"></i>
                  </a>
                }
                &nbsp;
                <a class="faq-toggle" [innerText]="item.question" (click)="item.show = !item.show"></a>
                <p [style.display]="item.show ? 'block' : 'none'">
                  <br>
                    <span [innerHtml]="item.answer"></span>
                  </p>
                </li>
              }
            </ul>
          </div>
        </div>
      }

    </div>
  </section>
