<!-- Form Alerts -->
@if (status) {
  <div class="row">
    <div class="col">
      @if (status === 1) {
        <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" (click)="status = 0" aria-label="Close">
            <i class="fa fa-times"></i>
          </button> Mensagem enviada :)
        </div>
      }
      @if (status === 2) {
        <div class="alert alert-warning" role="alert">
          <button type="button" class="close" (click)="status = 0" aria-label="Close">
            <i class="fa fa-times"></i>
          </button> Erro ao enviar a mensagem :(
        </div>
      }
    </div>
  </div>
}

<!-- Form Fields -->
<div class="row">
  <div class="col">
    <form #formContact="ngForm" (ngSubmit)="onSubmit(formContact)">

      <!-- Name -->
      <div class="form-group">
        <input type="text" class="form-control" name="Name" required maxlength="50" placeholder="Nome"
          [(ngModel)]="name" #inputName="ngModel">
        @if (inputName.invalid && (formContact.submitted || inputName.dirty || inputName.touched)) {
          <div>
            <br>
              <div class="alert alert-warning">
                @if (inputName.errors.required) {
                  <div>
                    O campo Nome é obrigatório
                  </div>
                }
              </div>
            </div>
          }
        </div>

        <!-- Email -->
        <div class="form-group">
          <input type="email" class="form-control" name="Email" required maxlength="50" placeholder="E-mail"
            [(ngModel)]="email" #inputEmail="ngModel" pattern="\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
          @if (inputEmail.invalid && inputEmail.errors.required && (formContact.submitted || inputEmail.dirty || inputEmail.touched)) {
            <div
              >
              <br>
                <div class="alert alert-warning">
                  @if (inputEmail.errors.required) {
                    <div>
                      O campo E-mail é obrigatório
                    </div>
                  }
                </div>
              </div>
            }
            @if (inputEmail.invalid && inputEmail.errors.pattern && (formContact.submitted || inputEmail.touched)) {
              <div>
                <br>
                  <div class="alert alert-warning">
                    @if (inputEmail.errors.pattern) {
                      <div>
                        E-mail inválido
                      </div>
                    }
                  </div>
                </div>
              }
            </div>

            <!-- Subject -->
            <div class="form-group">
              <input type="text" class="form-control" name="Subject" required maxlength="50" placeholder="Assunto"
                [(ngModel)]="subject" #inputSubject="ngModel">
              @if (inputSubject.invalid && (formContact.submitted || inputSubject.dirty || inputSubject.touched)) {
                <div>
                  <br>
                    <div class="alert alert-warning">
                      @if (inputSubject.errors.required) {
                        <div>
                          O campo Assunto é obrigatório
                        </div>
                      }
                    </div>
                  </div>
                }
              </div>

              <!-- Message -->
              <div class="form-group">
                <textarea class="form-control" name="Content" required maxlength="10000" placeholder="Mensagem" rows="6"
                [(ngModel)]="content" #textareaContent="ngModel"></textarea>
                @if (textareaContent.invalid && (formContact.submitted || textareaContent.dirty || textareaContent.touched)) {
                  <div
                    >
                    <br>
                      <div class="alert alert-warning">
                        @if (textareaContent.errors.required) {
                          <div>
                            O campo Mensagem é obrigatório
                          </div>
                        }
                      </div>
                    </div>
                  }
                </div>

                <button type="submit" class="btn btn-primary btn-lg btn-block">
                  @if (!loading) {
                    <i class="fa fa-fw fa-send"></i>
                  }
                  @if (loading) {
                    <i class="fa fa-fw fa-cog fa-spin"></i>
                  }
                  Enviar
                </button>

              </form>
            </div>
          </div>
          <!-- end Form Fields -->
