<!-- Form Alerts -->
<div class="row" *ngIf="status">
  <div class="col">

    <div class="alert alert-info alert-dismissible" role="alert" *ngIf="status == 1">
      <button type="button" class="close" (click)="status = 0" aria-label="Close">
        <i class="fa fa-times"></i>
      </button> Mensagem enviada :)
    </div>

    <div class="alert alert-warning" role="alert" *ngIf="status == 2">
      <button type="button" class="close" (click)="status = 0" aria-label="Close">
        <i class="fa fa-times"></i>
      </button> Erro ao enviar a mensagem :(
    </div>

  </div>
</div>

<!-- Form Fields -->
<div class="row">
  <div class="col">
    <form #formContact="ngForm" (ngSubmit)="onSubmit(formContact)">

      <!-- Name -->
      <div class="form-group">
        <input type="text" class="form-control" name="Name" required maxlength="50" placeholder="Nome"
          [(ngModel)]="name" #inputName="ngModel">
        <div *ngIf="inputName.invalid && (formContact.submitted || inputName.dirty || inputName.touched)">
          <br>
          <div class="alert alert-warning">
            <div *ngIf="inputName.errors.required">
              O campo Nome é obrigatório
            </div>
          </div>
        </div>
      </div>

      <!-- Email -->
      <div class="form-group">
        <input type="email" class="form-control" name="Email" required maxlength="50" placeholder="E-mail"
          [(ngModel)]="email" #inputEmail="ngModel" pattern="\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
        <div
          *ngIf="inputEmail.invalid && inputEmail.errors.required && (formContact.submitted || inputEmail.dirty || inputEmail.touched)">
          <br>
          <div class="alert alert-warning">
            <div *ngIf="inputEmail.errors.required">
              O campo E-mail é obrigatório
            </div>
          </div>
        </div>
        <div *ngIf="inputEmail.invalid && inputEmail.errors.pattern && (formContact.submitted || inputEmail.touched)">
          <br>
          <div class="alert alert-warning">
            <div *ngIf="inputEmail.errors.pattern">
              E-mail inválido
            </div>
          </div>
        </div>
      </div>

      <!-- Subject -->
      <div class="form-group">
        <input type="text" class="form-control" name="Subject" required maxlength="50" placeholder="Assunto"
          [(ngModel)]="subject" #inputSubject="ngModel">
        <div *ngIf="inputSubject.invalid && (formContact.submitted || inputSubject.dirty || inputSubject.touched)">
          <br>
          <div class="alert alert-warning">
            <div *ngIf="inputSubject.errors.required">
              O campo Assunto é obrigatório
            </div>
          </div>
        </div>
      </div>

      <!-- Message -->
      <div class="form-group">
        <textarea class="form-control" name="Content" required maxlength="10000" placeholder="Mensagem" rows="6"
          [(ngModel)]="content" #textareaContent="ngModel"></textarea>
        <div
          *ngIf="textareaContent.invalid && (formContact.submitted || textareaContent.dirty || textareaContent.touched)">
          <br>
          <div class="alert alert-warning">
            <div *ngIf="textareaContent.errors.required">
              O campo Mensagem é obrigatório
            </div>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary btn-lg btn-block">
        <i class="fa fa-fw fa-send" *ngIf="!loading"></i>
        <i class="fa fa-fw fa-cog fa-spin" *ngIf="loading"></i>
        Enviar
      </button>

    </form>
  </div>
</div>
<!-- end Form Fields -->
