<section id="sobre" class="mb-5">

  <div class="container">
    <h1 class="display-4 text-center">Sobre</h1>
    <div class="nb-separator"></div>

    <div class="row">
      <div class="col-xs-12 col-sm-4 mb-4">
        <div id="profilePicture" class="img-thumb"></div>
      </div>
      <div class="col mb-4">
        <h2>Dr. Ney Gutemberg Maia C. Bonfim</h2>
        <p class="text-muted">OAB/BA – 40.528</p>
        <p>
          Graduado em Direito pela UNIME,
          especialista em Direito Penal e Processo Penal pelo Centro Univesitário Maurício de Nassau do Recife
          em parceria com a Ordem dos Advogados do Brasil - Seccional Pernambuco,
          especialista em Direito Público Municipal pela FACAPE,
          pós graduando em Direito Eleitoral pela PUC de Minas,
          atualmente Procurador Geral do Município de Filadélfia - BA e advogado militante.
        </p>
      </div>
    </div>
  </div>

</section>