<section id="sobre" class="mb-5">

  <div class="container">
    <h2 class="display-4 text-center">Sobre</h2>
    <div class="nb-separator"></div>

    <div class="row">
      <div class="col-xs-12 col-sm-4 mb-4">
        <div id="profilePicture" class="img-thumb"></div>
      </div>
      <div class="col mb-4">
        <h2>Dr. Ney Gutemberg Maia C. Bonfim</h2>
        <p class="text-muted">OAB/BA – 40.528</p>
        <p>
          Ney Gutemberg Maia C. Bonfim é advogado, professor e palestrante, com sólida atuação em Direito Público e Direito Eleitoral. É sócio-fundador do NB Advocacia, Assessoria e Consultoria e do NB Centro de Estudos, dedicando sua carreira à advocacia estratégica, à consultoria jurídica e ao desenvolvimento de soluções para o setor público e privado.
          Sua formação acadêmica é marcada pela busca constante por aperfeiçoamento técnico, possuindo especializações em:
        </p>
        <ul>
          <li>Especialista em Direito Eleitoral – ATAME;</li>
          <li>Especialista em Direito Público Municipal – FACAPE;</li>
          <li>Especialista em Direito Penal e Processo Penal – Centro Universitário Maurício de Nassau (Recife), em parceria com a Ordem dos Advogados do Brasil.</li>
        </ul>
        <p>
          É autor da obra:
          
          Direito Eleitoral em Foco – Uma Análise Abrangente dos Princípios e Normas que Regem as Eleições no Brasil
          ISBN: 978-65-83353-00-9
          
          Ao longo de sua trajetória, consolidou atuação voltada à advocacia consultiva e contenciosa, assessorando pessoas físicas, empresas, agentes públicos, candidatos, partidos políticos e municípios, sempre pautado pela ética, excelência técnica e compromisso com a defesa dos direitos de seus clientes.
          
          Áreas de Atuação:          
        </p>
        <ul>
          <li>Direito Eleitoral</li>
          <li>Direito Público e Administrativo</li>
          <li>Direito Municipal</li>
          <li>Direito Penal</li>
          <li>Consultoria Jurídica</li>
          <li>Assessoria para Agentes Públicos e Municípios</li>
        </ul>
      </div>
    </div>
  </div>

</section>