<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand ml-xs-1 mr-xs-auto " href="/">
    <img src="assets/logo-sm.png" style="width: 50px; height: 50px">
  </a>
  
  <a class="btn btn-default ml-auto mr-0" target="_blank" href="https://wa.me/+557491105717">
    <i class="fa fa-fw fa-2x fa-whatsapp" aria-hidden="true"></i>
  </a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#appNavbar" aria-controls="appNavbar"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="appNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link smooth-scroll" routerLink="/" fragment="inicio" (click)="collapse()">
          Início
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="http://blog.neygutemberg.com.br/">
          Blog
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link smooth-scroll" routerLink="/recorrer-infracoes-de-transito" (click)="collapse()">
          Recorrer Infraçoes
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link smooth-scroll" routerLink="/" fragment="sobre" (click)="collapse()">
          Sobre
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link smooth-scroll" routerLink="/" fragment="nosso-ecritorio" (click)="collapse()">
          Nosso Escritório
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link smooth-scroll" routerLink="/" fragment="entrevistas" (click)="collapse()">
          Entrevistas
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link smooth-scroll" routerLink="/" fragment="perguntas-frequentes" (click)="collapse()">
          Perguntas Frequentes
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link smooth-scroll" routerLink="/" fragment="contato" (click)="collapse()">
          Contato
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" target="_blank" href="https://wa.me/+557491105717">
          <i class="fa fa-fw fa-2x fa-whatsapp" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
