<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand ml-xs-1 mr-xs-auto " href="/">
    <img src="assets/logo-sm.png" style="width: 50px; height: 50px">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link smooth-scroll" href="#inicio">
          Início
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link smooth-scroll" href="#sobre">
          Sobre
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link smooth-scroll" href="#entrevistas">
          Entrevistas
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link smooth-scroll" href="#perguntas-frequentes">
          Perguntas Frequentes
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link smooth-scroll" href="#contato">
          Contato
        </a>
      </li>
    </ul>
  </div>
</nav>
