<section id="entrevistas" class="mb-5">

  <div class="container">
    <h1 class="display-4 text-center">Entrevistas</h1>
    <div class="nb-separator"></div>

    <div class="row justify-content-center mt-4">

      <div class="col-xs-12 col-sm-6 col-lg-4 mb-4">
        <div class="list-group">
          <a class="list-group-item list-group-item-action" href="assets/entrevistas/abono.pdf" title="Fazer download da entrevista">Abono</a>
          <a class="list-group-item list-group-item-action" href="assets/entrevistas/adocao.pdf" title="Fazer download da entrevista">Adoção</a>
          <a class="list-group-item list-group-item-action" href="assets/entrevistas/aposentadoria.pdf" title="Fazer download da entrevista">Aposentadoria</a>
          <a class="list-group-item list-group-item-action" href="assets/entrevistas/aposentadoria-tempo-especial.pdf" title="Fazer download da entrevista">Aposentadoria Especial</a>
          <a class="list-group-item list-group-item-action" href="assets/entrevistas/bolsa-familia.pdf" title="Fazer download da entrevista">Bolsa Família</a>
          <a class="list-group-item list-group-item-action" href="assets/entrevistas/casamento-divorcio.pdf" title="Fazer download da entrevista">Divórcio</a>
          <a class="list-group-item list-group-item-action" href="assets/entrevistas/compra-premiada-enquadramento.pdf" title="Fazer download da entrevista">Compra Premiada</a>
          <a class="list-group-item list-group-item-action" href="assets/entrevistas/consumidor.pdf" title="Fazer download da entrevista">Direto do Consumidor</a>
          <a class="list-group-item list-group-item-action" href="assets/entrevistas/crimes-contra-honra.pdf" title="Fazer download da entrevista">Crimes Contra Honra</a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-lg-4 mb-4">
        <div class="list-group">
          <a class="list-group-item list-group-item-action" href="assets/entrevistas/eleitoral-1.pdf" title="Fazer download da entrevista">Direito Eleitoral (Parte 1)</a>
          <a class="list-group-item list-group-item-action" href="assets/entrevistas/eleitoral-2.pdf" title="Fazer download da entrevista">Direito Eleitoral (Parte 1)</a>
          <a class="list-group-item list-group-item-action" href="assets/entrevistas/eleitoral-3.pdf" title="Fazer download da entrevista">Direito Eleitoral (Parte 1)</a>
          <a class="list-group-item list-group-item-action" href="assets/entrevistas/emprestimo.pdf" title="Fazer download da entrevista">Empréstimo</a>
          <a class="list-group-item list-group-item-action" href="assets/entrevistas/ficha-limpa.pdf" title="Fazer download da entrevista">Ficha Limpa</a>
          <a class="list-group-item list-group-item-action" href="assets/entrevistas/juros.pdf" title="Fazer download da entrevista">Juros</a>
          <a class="list-group-item list-group-item-action" href="assets/entrevistas/penha.pdf" title="Fazer download da entrevista">Lei Maria da Penha</a>
          <a class="list-group-item list-group-item-action" href="assets/entrevistas/pensao.pdf" title="Fazer download da entrevista">Pensão</a>
          <a class="list-group-item list-group-item-action" href="assets/entrevistas/trabalho.pdf" title="Fazer download da entrevista">Direito do Trabalho</a>
        </div>
      </div>

    </div>

  </div>

</section>
