.scroll-down-link {
    position: absolute;
	bottom: 0%;
    left: 0%;
    right: 0%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    cursor: pointer;
}

.scroll-down-link a {
    color: white;
}

.parallax-bg {
    background-image: url(/assets/hero-lg.png);
}

@media screen and (max-width: 767px) {
    .parallax-bg {
        background-image: url(/assets/hero-xs.png);
    }
}

.parallax-caption {
    position: absolute;
	bottom: 50%;
    left: 20%;
    right: 20%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

@media screen and (max-width: 767px) {
	.parallax-caption {
		bottom: 30%;
	}
}

.parallax {
    background-attachment: scroll;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

@media screen and (min-width: 1025px) {
	.parallax {
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
	}
}