<section id="recorrer-infracoes-de-transito" class="mb-5">

  <div class="container">
    <h1 class="display-4 text-center">Recorrer Infraçoes de Trânsito</h1>
    <div class="nb-separator"></div>

    <div class="row mt-4">

      <!-- Benefits -->
      <div class="col-xs-12 col-md-6">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><i class="fa fa-fw fa-check-square-o" aria-hidden="true"></i> Não perca pontos</h5>
            <h6 class="card-subtitle mb-2 text-muted">Evite que sejam descontados pontos da sua carteira de motorista
            </h6>
          </div>
        </div>
        <br>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><i class="fa fa-fw fa-check-square-o" aria-hidden="true"></i> Evite suspenção</h5>
            <h6 class="card-subtitle mb-2 text-muted">Evite a suspenção do direito de dirigir</h6>
          </div>
        </div>
        <br>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><i class="fa fa-fw fa-check-square-o" aria-hidden="true"></i> Evite cassação</h5>
            <h6 class="card-subtitle mb-2 text-muted">Evite que sua carteira de motorista seja cassada</h6>
          </div>
        </div>
        <br>

        <!-- Funcionamento -->
        <div class="row mt-3">
          <div class="col text-center">
            <i class="fa fa-fw fa-3x fa-gavel" aria-hidden="true"></i><br>100% legal
          </div>
          <div class="col text-center">
            <i class="fa fa-fw fa-3x fa-clock-o" aria-hidden="true"></i><br>Economize tempo
          </div>
          <div class="col text-center">
            <i class="fa fa-fw fa-3x fa-home" aria-hidden="true"></i><br>Faça tudo de casa
          </div>
        </div>

        <div class="row mt-3">
          <div class="col text-center">
            <i class="fa fa-fw fa-3x fa-camera" aria-hidden="true"></i><br>Processo fácil
          </div>
          <div class="col text-center">
            <i class="fa fa-fw fa-3x fa-comments" aria-hidden="true"></i><br>Totalmente transparente
          </div>
          <div class="col text-center">
            <i class="fa fa-fw fa-3x fa-money" aria-hidden="true"></i><br>Economize dinheiro
          </div>
        </div>

      </div>

      <!-- Contact Form -->
      <div class="col-xs-12 col-md-6 mt-4">

        <h3>Faça uma avaliação gratuita</h3>

        <app-contact-form></app-contact-form>

        <!-- Social -->
        <div class="row mt-3">
          <div class="col">
            <a class="btn btn-default" target="_blank" href="https://wa.me/+557491105717?text=Ol%C3%A1%2C%0A%0AGostaria%20de%20saber%20mais%20informa%C3%A7%C3%B5es%20sobre%20como%20recorrer%20infra%C3%A7oes%20de%20tr%C3%A2nsito.">
              <i class="fa fa-fw fa-3x fa-whatsapp" aria-hidden="true"></i>
            </a>
          </div>
          <div class="col">
            <a class="btn btn-default" target="_blank" href="https://instagram.com/neygutembergadvocacia">
              <i class="fa fa-fw fa-3x fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
          <div class="col">
            <a class="btn btn-default" target="_blank" href="https://facebook.com/ney.gutemberg">
              <i class="fa fa-fw fa-3x fa-facebook-square" aria-hidden="true"></i>
            </a>
          </div>
        </div>

      </div>
      <!-- end Contact Form -->

    </div>

  </div>

</section>
