<section id="feed">

  <div class="container">
    <h1 class="display-4 text-center">Dicas e Novidades</h1>
    <div class="nb-separator"></div>

    <div class="row mt-4">
      <div class="col-xs-12 col-sm-6 text-center" *ngFor="let item of mediaRecent | slice:0:18; let i = index">

        <a href="{{ item.link }}" class="thumbnail">
          <img src="{{ item.images.standard_resolution.url }}" style="width: 270px">
        </a>

        <pre class="mt-2" [innerText]="item.caption.text"></pre>

        <div *ngIf="(i + 1) % 2 == 0" class="col-xs-12 mb-4"></div>

      </div>
    </div>
  </div>

</section>
